@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: rgb(131, 22, 141);
  --heading-color: #132742;
  --bg-gradient: linear-gradient(
    90deg,
    rgb(156, 71, 182) 27%,
    rgb(105, 51, 119) 85%
  );
  --font-name: "Questrial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}
html {
  scroll-behavior: smooth;
}

section {
  padding: 50px 0px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
}

.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

.section__title {
  color: var(--heading-color);
  font-weight: 800;
}
